body {
  font-family: sans-serif;
  background: #0b0018;
}

input {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

textarea {
  outline: none;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 800px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    color: white;
    background-color: black;
    z-index: 4;
  }
  #header #mast {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
  }
  #header .menu h2 {
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    font-weight: 300;
  }
  #controls {
    position: fixed;
    left: 5px;
    top: 40px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #0b0018;
    color: white;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #controls .control-box {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background: black;
  }
  #controls #search-box #search {
    font-size: 15px;
    width: 12vw;
    padding: 8px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: rgba(255, 255, 255, 0.9);
  }
  #controls #search-box #search:hover {
    background: white;
  }
  #controls #search-box #num-results {
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
  }
  #controls #option-box .check-box {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  #controls #option-box .check-box .checkbox {
    background: white;
    border: 3px solid white;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  #controls #option-box .check-box .checkbox:hover {
    background: #d6e6ff;
  }
  #controls #option-box .check-box .checkbox.selected {
    background: #0074ff;
  }
  #controls #option-box .check-box h2 {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
  }
  #controls .slide-box p {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
  }
  #controls .slide-box p.slide-value {
    width: 25px;
    text-align: center;
    color: yellow;
  }
  #controls .slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 10vw;
    height: 5px;
    background: #0074ff;
    outline: none;
    border-radius: 30px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  #controls .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 30px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #controls .slider::-webkit-slider-thumb:hover {
    background: #c5deff;
  }
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 130px;
  }
  .elem {
    padding: 7px;
    display: block;
    background-color: white;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .elem .head .name {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
  .elem .head .name.hidden {
    display: none;
  }
  .elem .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .elem .example {
    margin: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .elem .example .image {
    width: 100px;
    height: 100px;
    background: black;
    background-size: cover;
  }
  .elem .example .image.hidden {
    display: none;
  }
  .elem .example.hidden {
    display: none;
  }
  .elem:hover {
    opacity: 0.85;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  #header {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    color: white;
    background-color: black;
    z-index: 4;
  }
  #header #mast {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    font-weight: 300;
  }
  #header .menu h2 {
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
    font-weight: 300;
  }
  #controls {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: #0b0018;
    color: white;
    z-index: 4;
  }
  #controls .control-box {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background: black;
  }
  #controls #search-box {
    display: none;
  }
  #controls #search-box #search {
    font-size: 15px;
    width: 12vw;
    padding: 8px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background: rgba(255, 255, 255, 0.9);
  }
  #controls #search-box #search:hover {
    background: white;
  }
  #controls #search-box #num-results {
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
  }
  #controls #option-box .check-box {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  #controls #option-box .check-box .checkbox {
    background: white;
    border: 3px solid white;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }
  #controls #option-box .check-box .checkbox:hover {
    background: #d6e6ff;
  }
  #controls #option-box .check-box .checkbox.selected {
    background: #0074ff;
  }
  #controls #option-box .check-box h2 {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
  }
  #controls .slide-box p {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    white-space: nowrap;
  }
  #controls .slide-box p.slide-value {
    width: 25px;
    text-align: center;
    color: yellow;
  }
  #controls .slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 50vw;
    height: 5px;
    background: #0074ff;
    outline: none;
    border-radius: 30px;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  #controls .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 30px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #controls .slider::-webkit-slider-thumb:hover {
    background: #c5deff;
  }
  #main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 130px;
  }
  .elem {
    margin: 5px;
    margin-bottom: 10px;
    padding: 7px;
    display: block;
    background-color: white;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .elem .head .name {
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    margin-left: 7px;
    color: black;
  }
  .elem .head .name.hidden {
    display: none;
  }
  .elem .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .elem .example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .elem .example .image {
    margin: 5px;
    width: 42vw;
    height: 42vw;
    background: black;
    background-size: cover;
  }
  .elem .example .image.hidden {
    display: none;
  }
  .elem .example.hidden {
    display: none;
  }
  .elem .tags {
    display: none;
  }
  .elem:hover {
    opacity: 0.85;
  }
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.red {
  background: #ff0000;
  color: white;
}

.red:hover {
  background: #d30000;
}

.orange {
  background: #ff6d00;
  color: white;
}

.orange:hover {
  background: #ff3c00;
}

.yellow {
  background: #ffce00;
  color: black;
}

.yellow:hover {
  background: #ffa600;
}

.green {
  background: #00dd15;
  color: black;
}

.green:hover {
  background: #00be2f;
}

.gray {
  background: #696969;
  color: white;
}

.gray:hover {
  background: #505050;
}

.cyan {
  background: #00FFFF;
  color: black;
}

.cyan:hover {
  background: #00d9ff;
}

.blue {
  background: #0074ff;
  color: white;
}

.blue:hover {
  background: #0050fd;
}

.indigo {
  background: #0013ff;
  color: white;
}

.indigo:hover {
  background: #1500cf;
}

.purple {
  background: #ba00ff;
  color: white;
}

.purple:hover {
  background: #8c00ff;
}

.pink {
  background: #ff00ff;
  color: white;
}

.pink:hover {
  background: #ff00bf;
}
/*# sourceMappingURL=style.css.map */